
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

:root{
  --small-bg:rgba(231, 255, 222);
  --nav-bg:rgb(231, 255, 222);
  --first-color: rgb(240, 227, 218);
  --body-color:rgb(209, 227, 225);
  --heading-dark:rgb(93, 217, 176);
  --heading-light:rgb(127, 255, 202);
  --body-font: 'sans-serif','Trebuchet MS','Gill Sans MT',  'Rubik', sans-serif;
  --normal-font:1rem;
  --small-font:0.875rem;
  --smaller-font:810rem;
  /* font-weight */
  --font-medium:500;
  --font-semibold:600;
  --font-bold:800;
  /* shadow */
  --box-shadow: 2px 5px 2px 9px;
  /* border-rodius */
  --border-radius: 10px;   
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
body{
 background-color: var(--body-color); 
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
}
button{
  border: none;
  outline: none;
  cursor: pointer;
}
img{
  width: 100%;
  height: auto;
  vertical-align: middle;
}
h1{
  font-size: 3em;
}
.leftAdjectment{
  border: 2px solid;
  width: 94%;
  min-height: 100vh;
  margin-left: 5.5rem;
}
